.circular {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.circular_out_div {
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}

.next_pay{
    color: gray;
}